@import '../includes/_variables.scss';
@import '../includes/_mixins.scss';

.hero-banner {
    position: relative;
    &__img {
        width: 100%;
        img {
            width: 100%;
            display: block;
        }
    }
    &__wrapper {
        width: 95%;
        max-width: 1200px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        @include reader {
            width: calc(100% - 50px);
            top: unset;
            transform: translateY(0);
            bottom: 20%;
        }
        @include mobile {
            bottom: 10%;
        }
    }
    &__content {
        width: 58%;
        @include reader {
            width: 100%;
        }
    }
    &__header, 
    &__subheader, 
    &__text {
        margin: 0 auto;
        color: #fff;
        font-family: sans-serif;
    }
    &__header {
        font-size: 56px;
        @include tablet {
            font-size: 40px;
        }
        @include mobile {
            font-size: 32px;
        }
    }
    &__subheader {
        font-size: 42px;
        margin: 10px auto;
        @include tablet {
            font-size: 32px;
        }
        @include mobile {
            font-size: 26px;
            margin: 8px auto;
        }
    }
    &__text {
        font-size: 28px;
        line-height: 1.4;
        width: 80%;
        @include tablet {
            font-size: 20px;
        }
        @include mobile {
            width: 100%;
            font-size: 18px;
        }
    }
    &__buttons {
        margin: 20px auto 0;
        display: flex;
        justify-content: space-between;
        width: fit-content;
        @include mobile {
            margin: 15px auto 0;
        }
    }
    &__cta-link {
        color: #fff;
        text-decoration: none;
    }
    &__cta {
        width: 230px;
        border: 0;
		outline: 0;
		background-color: transparent;
        border: 2px solid #fff;
        background-color: $teal;
        padding: 25px 0;
        margin: 0 10px;
        font-size: 17px;
		color: #fff;
        text-transform: uppercase;
        display: block;
        cursor: pointer;
        transition: all .2s ease-in;
        @include tablet {
            width: 220px;
            font-size: 16px;
            padding: 15px 0;
        }
        @include reader {
            width: 190px;
            font-size: 14px
        }
		&:hover,
		&:focus {
            color: $teal;
            transition: all .2s ease-out;
            background-color: #fff;
            border: 2px solid $teal;
        }
    }
}