@import '../includes/_variables.scss';
@import '../includes/_mixins.scss';

.speaker {
    text-align: center;
    margin: 0 10px;
    @include reader {
        margin: 0 10px 15px;
    }
    &:first-child {
        margin: 0 10px 0 0;
        @include reader {
            margin: 0 10px 15px;
        }
    }
    &__profile-img {
        margin: 0 auto;
        width: 55px;
        height: 55px;
        background-size: cover;
        background-position: 50%;
        border-radius: 50%;
        border: 3px solid #fff;
    }
    &__name {
        margin: 10px 0 0;
        font-size: 14px;
        font-family: sans-serif;
    }
}