@import '../includes/_variables.scss';
@import '../includes/_mixins.scss';

.sponsors {
    width: 100%;
    padding: 50px 0;
    background-color: #fff;
    @include reader {
        padding: 40px 0;
    }
    &__logos-container {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @include tablet {
            width: calc(100% - 50px);
        }
        @include reader {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 auto 30px;
            align-items: flex-start;
        }
        &.sponsors__logos-container-last {
            margin: 0 auto;
        }
    }
    &__logo {
        height: 65px;
        &:last-child {
            @include reader {
                margin: 0 auto;
            }
        }
        @include tablet {
            height: 55px;
        }
        @include reader {
            height: 35px;
            margin: 0 auto 30px;
        }
        img {
            height: 100%;
            transform: scale(1);
            transition: transform .2s ease-in;
            &:hover {
                transform: scale(1.1);
                transition: transform .2s ease-out;
            }
        }
    }
    &__content {
        width: 95%;
        max-width: 1200px;
        margin: 50px auto 0;
        text-align: center;
        @include reader {
            margin: 0 auto;
            width: calc(100% - 50px);
        }
        p {
            color: #474747;
            font-family: sans-serif;
            font-size: 18px;
            line-height: 1.6;
            width: 65%;
            margin: 0 auto;
            @include tablet {
                width: 75%;
            }
            @include reader {
                width: 100%;
            }
        }
    }
    &__link {
        font-weight: 600;
        font-size: 18px;
        font-family: sans-serif;
        margin: 0 auto;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: #04848f;
        text-align: center;
        &:hover {
            color: #194A58;
        }
    }
    &.sponsors__bottom {
        .sponsors__logos-container {
            @include reader {
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0 auto 30px;
                align-items: flex-start;
            }
        }
        .sponsors__logo {
            @include reader {
                height: 35px;
            }
        }
    }
}