/* Colors */
$form-required-color: #ff0000;
$nav-link: #4a4a4a;
$border-color: #c5c5c5;
$text-color: #4a4a4a;

/* To be converted to dynamic colors, included here to prevent errors in the meantime */
$dark-purple: #360f6B;
$purple: #5C3188;
$light-purple: #8348BF;
$hover-pink: #FFA8D9;
$teal: #04848f;

/* Typography */
$font-default: "Open Sans", Arial, Helvetica, sans-serif;
$header-font: "Lato", sans-serif; // From TypeKit, included in layout/theme.liquid

/* Layout */
$tablet-width: 1024px;
$reader-width: 767px;
$mobile-width: 480px;

